.card {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 10px;
  /* box-sizing: border-box; */
}

@media (max-width: 500px) {
  .card {
    padding: 0;
    width: 150px;
    height: auto;
  }
}

.imageContainer {
  height: 110px;
  /* width: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  overflow: hidden;
}

.stars {
  display: flex;
  flex-direction: row;
  color: rgb(255, 191, 0);
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
